.greenBlock{
    border:2px solid #029491;
    margin-left: 10px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 107px;
    height: 158px;
}
.sections{
    width: 10%;
    text-align: center;
    color: white;
    background-color: #029491;
    padding-top: 12px;
    line-height: 40px;
}
.periodItemCss{
    text-align: center;
    border-right: 3px solid #94949466;
    padding: 5px 0;
    margin:10px 0;
    background-color: white;
    line-height: 40px;
}
.slider-wrapper{
    width: 90%;
}
.resultMain__section{
    margin:20px 0;
    color:#949494;
}
